$themes-color: #8986ff;
$themes-BgColor: #313769;
$themes-Choose: #25CDDA;
$themes-GrayButton: #9FA9BA;
$themse-BgHead: #fff;
$themes-BlueButton: #4A90E2;
$themes-GreenButton: #25CDDA;
$themes-border: #DCE0E6; // 边框颜色
$small: 1439px;
$large: 1660px;
$tablehead-BgColor: #F5F6F7;

.page{
  background-color: #fff;
  height: 100%;
  border-radius: 4px;
  color: #4A4A4A;
}
//小尺寸按照内容区域除padding外的尺寸缩放
@function sm($n) {
  @return $n * 960 / 1200 * 1px;
}

//大尺寸按照内容区域除padding外的尺寸缩放
@function lg($n) {
  @return $n * 1420 / 1200 * 1px;
}

//超出一行文字省略号
.one-line{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//超出两行文字省略号
.two-lines{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
///*滚动条*/
.scroll-all::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.scroll-all::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}
//内容区滚动条
.el-main::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.el-main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}